[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://download.pytorch.org/whl/cu121"
verify_ssl = false
name = "pytorch"

[packages]
numpy = "==1.26.3"
gymnasium = "==0.29.1"
pygame = "==2.5.2"
torchvision = "*"
torch = {version = "*", index = "pytorch"}
tensorboard = "==2.15.1"
packaging = "==23.2"
mypy = "==1.8.0"
pyyaml = "==6.0.1"
pillow = "==10.2.0"
ipykernel = "*"
matplotlib = "==3.8.4"
opencv-python = "==4.9.0.80"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.6"
